body{
    background: url("http://c.editingmyspace.com/files/en/backgrounds/grey.backgrounds/grey_background_017.jpg");
}

input[type="submit"]{
    width: 100px;
    height: 30px;
    background: lightskyblue;
    border-radius: 5px;
}
